<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key ="Environment" value="Pre-QA"/>
    <add key ="Init_File" value ="Init.xml"/>
    <add key ="PublicHolidays_File" value ="PublicHolidays.xml"/>
    <add key ="SQLs_File" value="SQL_Scripts.xml"/>
    <add key ="Init_Folder" value=""/>
    <add key="Emics" value ="EMICS"/>
    <add key="TaskManager" value="TM"/>
    <add key="Pivotal" value="Pivotal"/>
    <add key="EMPOWER" value="EMPOWER"/>
    <add key="WCNSW" value="WCNSW"/>
    <add key ="HOSPEM" value ="HOSPEM"/>
    <add key ="TMF" value ="TMF"/>
  </appSettings>
</configuration>